#menu{
    background-color: aqua;
    padding: 20px;
}

#content{
    height: 700px;
    background-color: lightgrey;
    width: 80%;
    float: left;
}

#sidebar{
    background-color: chartreuse;
    height: 700px;
    width: 20%;
    float: right;
}